{% extends "layout.html" %}

{% block page_content %}
<div class="image-container">
    <img src="{{ url_for('static', filename='human_practices_assets/banner.svg') }}" alt="Human Practices Image">
</div>

<div class="main-container">
    <div class="index-container">
        <div class="index-header">
            <div class="index-image"></div>
            <h3>Humanpractice</h3>
        </div>
        <ul>
            <li><a href="#interview">Interview</a></li>
            <li><a href="#purpose">Purpose</a></li>
            <li><a href="#highlights">Key Highlights</a></li>
            <li><a href="#summary">Summary</a></li>
        </ul>
    </div>

    <div class="content-container">
        <!-- Right-side content area -->
        <h2 id="interview" class="medium-text">Interview</h2>
        <p class="small-text"> Ant Group (Ant Forest)
            Ant Group owns Alipay and runs a famous public benefit project: ant forest. As users of Alipay, we can
            collect green energy by using Alipay to pay money, using public transport. When we collect enough energy,
            Ant Group will use this energy to plant a real tree in the northern part of China, such as the Alashan
            desert. In 2023, Ant Group planted 475 million trees to relieve desertification.
            Our team visited Alipay Lab in Shanghai and interviewed a member of Alipay by having a call, Nuomu, who was
            working in the Alashan desert planting trees.</p>

        <p class="small-text">During our communication, he stated that the challenges of re-plantation include the fewer
            and fewer places available for us to plant due to the government’s new policy, and not every tree will
            survive for the first year. He explained that all projects must follow the requirements from China's
            afforestation technology rules, they required that the survival rates must be above 75% for the first year,
            and 70% or above for the first three years. To complete these goals, the company choose to corporate with
            other groups to help with technology.
            The main reason that trees die is because of the harsh weather, to a small extent to the tree planter’s
            skill, as they usually choose local professional planting groups to plant for them, that’s not very unlikely
            to happen. He introduced that all the details include the type of trees, when and where to plant are all
            need to be checked by experts before everything starts. The planting team would also replace the dead trees
            to increase the population density.
            Nuomu said, in order to increase the survival rate of trees, they would add rooting powder and water
            retaining agent, and water the plant immediately after it’s been planted. Ant group also chooses plant that
            fits the dry environment to prevent desertification. The most dangerous period for a new planted tree is in
            the first three years, the trees can easily be destroyed by pests, herbs and rainfalls.
            Surprisingly, he indicated that the public view of the Ant Forest and planting trees in the desert didn’t
            make the process cheaper or easier. However, he believed that it’s important to educate young generation by
            using ways they enjoy and accept. When we talked about thepossible future of using bacterial cellulose as a
            water-retaining material to increase the survival rate of trees, he said that this material must be cheap
            enough to use in large numbers. If it’s sustainable and environmentally friendly, that’s its unique
            advantages.</p>
        <h3 id="purpose" class="small-text">Purpose</h3>
        <p class="small-text"> In order to understand reasons of soil desertification, management measurements, and
             impacts on levels of soil moisture content。 we decided to interview professor Wang from the Institute of
            Genetics and Developmental Biology at the Chinese Academy of Sciences. Her researches focus on plant
            molecular biology and plant genome editing technologies.</p>

        <h3 id="highlights" class="small-text">Key Highlights</h3>
        <p class="small-text">In addition to the factors of excessive human reclamation, the serious water shortage of
            soil, the effects of climate and weathering have led to desertification. Professor Wang also mentioned that
            in China, desertification is mainly distributed in the Northwest District，which is dry with little rainfall.
            Normal soil does not specifically affect plant lodging resistance. But plants with underdeveloped root
            systems are easy to lodging. On the contrary, plants with very strong root functions are hard to lodging.
            Plants thus can grow stronger even by deepening the roots. </p>

        <h3 id="summary" class="small-text">Summary</h3>
        <p class="small-text"> Professor Wang not only conducted an in-depth discussion on soil desertification and
            plant cell wall with us, but also affirmed our plan to extract bacterial cellulose and observe its
            beneficial effects on plant growth. Moreover, she gave us extremely valuable suggestions to our
            project. </p>
    </div>
</div>

<style>
    body {
        background: linear-gradient(180deg, #D7D98A 0%, #9BA880 100%);
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .image-container {
        width: 100%;
        max-height: 842px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .image-container img {
        width: 1487px;
        height: 842px;
        object-fit: cover;
    }

    .main-container {
        display: flex;
        padding: 20px;
    }

    .index-container {
        width: 350px;
        padding: 20px;
        background-color: #719057;
        border-radius: 20px;
        margin-right: 20px;
        position: sticky;
        top: 20px;
        align-self: flex-start;
    }

    .index-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .index-image {
        width: 208px;
        height: 201px;
        background: url('{{ url_for('static', filename='human_practices_assets/logo_index.svg') }}') lightgray 50 % / cover no-repeat;
        margin-bottom: 20px;
        background-size: cover;
        background-color: transparent;
    }

    .index-container h3 {
        color: #F7F0D2;
        font-family: "Abhaya Libre";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }

    .index-container ul {
        list-style-type: none;
        padding: 0;
        color: #F7F0D2;
    }

    .index-container ul ul {
        margin-left: 20px; /* Indent for nested list */
    }

    .index-container ul li {
        margin-bottom: 10px;
    }

    .index-container ul li a {
        color: white;
        text-decoration: none;
    }

    .index-container ul li a:hover {
        text-decoration: underline;
    }

    .content-container {
        flex-grow: 1;
        padding: 20px;
        background-color: #F7F0D2;
        border-radius: 20px;
        color: #333;
    }

    .content-container h2, .content-container h3, .content-container h4 {
        margin-top: 20px;
        color: #0F96DB;
        text-align: left;
        scroll-margin-top: 130px;
    }

    .content-container p {
        margin-bottom: 20px;
        line-height: 1.6;
        color: #555;
    }

    /* Large text */
    .large-text {
        color: #FFF;
        font-family: "Source Han Sans SC";
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 20px;
    }

    /* Medium text */
    .medium-text {
        color: #FFF;
        font-family: "Source Han Sans SC";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 15px;
    }

    /* Small text with indentation */
    .small-text {
        color: #FFF;
        font-family: "Source Han Sans SC";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
        padding-left: 20px; /* Indent */
    }
</style>

{% endblock %}
