{% extends "layout.html" %}

{% block page_content %}
<div class="image-container">
    <img src="{{ url_for('static', filename='safety_assets/banner.svg') }}" alt="Safety Image">
</div>

<div class="main-container">
    <div class="index-container">
        <div class="index-header">
            <div class="index-image"></div>
            <h3>Education</h3>
        </div>
        <ul>
            <li><a href="#important">Why safty is important</a></li>
            <li><a href="#DoNot">Do not</a></li>
        </ul>
    </div>

    <div class="content-container">
        <!-- Right-side content area -->
        <h2 id="important" class="medium-text">Why safty is important</h2>
        <p class="small-text"> The lab experiments is not always safe as what you think. Most of the experiments involve
            some chemical that is toxic or explosive. Even the smallest mistake could cause some serious damage to our
            body. Thus, learning the safety rules is crucial before participating in any lab experiments. </p>
        <h4 class="small-text">General rules inside laboratory</h4>
        <p class="small-text">
            1. Always remember to have proper protection before entering any lab (lab suit, mask, shoe cover, gloves,
            goggles etc.) <br>
            2. Using glass or plastic container for anything that is strongly acidic or basic<br>
            3. Always use the special heat container while mixing exothermic chemicals<br>
            4. Following the professor’s instruction when mixing chemicals.<br>
            5. Using the fume hood while dealing with toxic, corrosive, and explosive chemical that is volatile.
            6. While dilute the acid, make sure you always drip acid into the water.<br><br>
            7. Acid and base must be stored separately<br>
            8. While dealing with volatile and highly flammable chemical, using the fume hood and make sure there’s no
            electric devise or anything that have the potential to cause spark or flame.<br>
            9. Make sure your professor is always beside you during the lab.<br>
            10. Wash your hand completely before exiting the laboratory<br>
            11. If you spill chemical on your hand accidently, wash with water instantly and tell your professor.<br>
            12. Remember to wash and clean the container after using<br>
        </p>

        <h4 class="small-text">Lab Practice</h4>
        <p class="small-text">

            Before the formal lab started, we go through 4 days of lab practice. We learned how to use some equipment
            inside laboratory, these include: <br>
            How to use pipette:<br>
            1. Make sure you check the maximum and minimum unit of the pipette before using<br>
            2. Always switch and throw away the pipe after using<br>
            3. The red number on the bottom scale wheel represent 0.1 ul and the upper one represent 1000 ul<br>
             This number represent 0.1 ul (mark in red circle)<br>
        </p>
        <h4 class="small-text">How to use scale:</h4>
        <p class="small-text">
            1. Always remember to set the scale into 0 before measuring, especially while using paper or other
            container for measuring <br>
            2. If you find the weight is getting close to the number you want, start to add the chemical slowly by
            shaking your hand.<br>
            3. Again, NEVER EVER put the extra chemical back to its container (I see too many students doing this) <br>
        </p>
        <h4 class="small-text">PH test device:</h4>
        <p class="small-text">
            1. Always remember to clean the sensor DD water after using <br>
            2. Make sure to put the sensor into solution before pressing the button for the most accurate data<br>
        </p>
        <h2 id="DoNot" class="medium-text">DO NOT do the following things in laboratory!!!</h2>
        <p class="small-text">
            1. Do not enter any room in laboratory without permission. <br>
            2. Food and drink (include water) is never allowed in any lab<br>
            3. Do not use open fire to heat the flask, using the heat plate.<br>
            4. Do not pour any chemical or contaminated trash into the sink, using the chemical waste container instead.<br>
            5. Never put any chemical back to its container after using or touching it; it may contaminate the rest of
            chemical inside the container.<br>
            6. Do not bring any lab material or product outside the laboratory without permission<br>
            7. Never try to repair any devise inside the laboratory; if any devise is broken, tell your professor.<br>
            8. Do not touch any electric device with wet hand<br>
        </p>

    </div>
</div>

<style>
    body {
        background: linear-gradient(180deg, #D7D98A 0%, #9BA880 100%);
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .image-container {
        width: 100%;
        max-height: 842px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .image-container img {
        width: 1487px;
        height: 842px;
        object-fit: cover;
    }

    .main-container {
        display: flex;
        padding: 20px;
    }

    .index-container {
        width: 350px;
        padding: 20px;
        background-color: #719057;
        border-radius: 20px;
        margin-right: 20px;
        position: sticky;
        top: 20px;
        align-self: flex-start;
    }

    .index-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .index-image {
        width: 208px;
        height: 201px;
        background: url('{{ url_for(' static ', filename=' safety_assets/logo_index.svg ') }}') lightgray 50 % / cover no-repeat;
        margin-bottom: 20px;
        background-size: cover;
        background-color: transparent;
    }

    .index-container h3 {
        color: #F7F0D2;
        font-family: "Abhaya Libre";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }

    .index-container ul {
        list-style-type: none;
        padding: 0;
        color: #F7F0D2;
    }

    .index-container ul ul {
        margin-left: 20px; /* Indent for nested list */
    }

    .index-container ul li {
        margin-bottom: 10px;
    }

    .index-container ul li a {
        color: white;
        text-decoration: none;
    }

    .index-container ul li a:hover {
        text-decoration: underline;
    }

    .content-container {
        flex-grow: 1;
        padding: 20px;
        background-color: #F7F0D2;
        border-radius: 20px;
        color: #333;
    }

    .content-container h2, .content-container h3, .content-container h4 {
        margin-top: 20px;
        color: #0F96DB;
        text-align: left;
        scroll-margin-top: 130px;
    }

    .content-container p {
        margin-bottom: 20px;
        line-height: 1.6;
        color: #555;
    }

    /* Large text */
    .large-text {
        color: #FFF;
        font-family: "Source Han Sans SC";
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 20px;
    }

    /* Medium text */
    .medium-text {
        color: #FFF;
        font-family: "Source Han Sans SC";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 15px;
    }

    /* Small text with indentation */
    .small-text {
        color: #FFF;
        font-family: "Source Han Sans SC";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
        padding-left: 20px; /* Indent */
    }
</style>

{% endblock %}
