<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'styles.css') }}" rel="stylesheet">

    <title>{% block title %}{% endblock %} | HW-ShanghaiUnited - iGEM 2024</title>

</head>
<body>
<!-- Navigation -->
<!-- Navigation -->
<div class="navbar">
    <div class="logo">
        <img src="{{ url_for('static', filename='logo.svg') }}" alt="Logo">
        <div class="brand">
            <span>HW-ShanghaiUnited</span>
        </div>
    </div>
    <div class="nav-links">
        <div class="dropdown">
            <a href="/">Home</a>
        </div>
        <div class="dropdown">
            <a href="/team">Team</a>
            <div class="dropdown-content">
                <a href="{{ url_for('pages', page='team') }}">Team Members</a>
                <a href="{{ url_for('pages', page='attribution') }}">Attribution</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#">Project</a>
            <div class="dropdown-content">
                <a href="{{ url_for('pages', page='description') }}">Description</a>
                <a href="{{ url_for('pages', page='design') }}">Design</a>
                <a href="{{ url_for('pages', page='parts') }}">Parts</a>
                <a href="{{ url_for('pages', page='contribution') }}">Contribution</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#">Dry Lab</a>
            <div class="dropdown-content">
                <a href="{{ url_for('pages', page='sustainable') }}">Sustainability</a>
                <a href="{{ url_for('pages', page='education') }}">Education</a>
                <a href="{{ url_for('pages', page='human-practices') }}">Human Practice</a>
                <a href="{{ url_for('pages', page='model') }}">Model</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#">Experiment</a>
            <div class="dropdown-content">
                <a href="{{ url_for('pages', page='results') }}">Results</a>
                <a href="{{ url_for('pages', page='notebook') }}">Notebook</a>
                <a href="{{ url_for('pages', page='protocol') }}">Protocol</a>
                <a href="{{ url_for('pages', page='safety') }}">Safety</a>
            </div>
        </div>
        <a href="/achievement">Achievement</a>
    </div>
</div>


<!-- Header -->
<header class="bg-hero py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">{{ self.title() }}</h1>
                <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    {% block page_content %}{% endblock %}
</div>

<!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
{% include 'footer.html' %}

<!-- Bootstrap Bundle with Popper -->
<script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
</body>
</html>
